html {
    height: 100%;
}

body {
    background: #f6f7fb;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #556070;
    min-height: 100%;
    padding: 30px 15px;
}

.center {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
}

a {
    color: #62a8ea;
    text-decoration: none;
}

a:hover {
    color: #89bceb;
    text-decoration: underline;
}

.block {
    background-color: #fff;
    padding: 40px;
    border: 1px solid #eff0f2;
    border-radius: 4px;
    box-shadow: 0 0 2px 0px #f3f3f3;
    margin-top: 15px;
}

.try-ulmo {
    display: grid;
    place-content: center;
    place-items: center;
    grid-gap: 10px;
    margin-top: 50px;
    margin-bottom: 70px;
}

.try-ulmo-link {
    font-size: 16px;
    padding: 10px 30px;
    font-weight: 500;
    letter-spacing: 0.4px;
    border: 1px solid #3c8fde;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #3c8fde;
    color: #fff;
}

.try-ulmo-link:hover {
    text-decoration: none;
    opacity: .9;
    color: #fff;
}

code {
    background: #e4e4e4;
    padding: 2px 3px;
    font-size: 14px;
}
